
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Breweries.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/BreweryArc.csproj.AssemblyReference.cache
IS7024FinalProjectBreweryArc/BreweryArc/.vs/BreweryArc/v16/.suo
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/BreweryArc.csproj.AssemblyReference.cache
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Breweries.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/.vs/BreweryArc/v16/.suo
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/BreweryArc.csproj.AssemblyReference.cache
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Breweries.cshtml.g.cs
IS7024FinalProjectBreweryArc/BreweryArc/.vs/BreweryArc/v16/.suo
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/BreweryArc.csproj.AssemblyReference.cache
IS7024FinalProjectBreweryArc/BreweryArc/obj/Debug/netcoreapp3.1/Razor/Pages/Breweries.cshtml.g.cs
