@page
@model BreweryArc.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="slide-right">
    <h2>About Us</h2>
    <p>
        <br />Our BreweryArc Team is made up of talented, enthusiastic and business-minded professionals, creative and adorable personalities. Each member of our team has a specific and vital role to play in updating database and maintaining the site. Our team ranks among one of the top 10 Brewery Informational Site in the USA and Ireland. On our site you can find list of breweries based on Country name or Brewery Type (Micro or Large). The Brewery list contains the informatiion like, the name, address, country, type, which makes it easier to find brewery of your choice.
    </p>
</div>
<div class="slide-left">
    <h2>Our History</h2>
    <p>Eight years back we started the company in USA with the goal to aid people in finding nearby breweries and have a smooth experience in the process. It just happened one fine evening we had been discussing about one of our friends who was having a hard time finding a brewery of her choice. And eventually we came up with the idea of getting into Breweries. Our mission is to offer best for our customers and we strive to do it!</p>
</div>
<div class="about">
    <img src="~/images/beerAboutUs.jpg" class="thumbnail" style="width:100%">
</div>
    
