<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BreweryArc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div id="wrapper">
        <header id="mainHeader">
            <a href="/" title="home" class="logo">
                <div class="logo">
                    <img src="~/images/logo.jpg" width="200" alt="logo" />
                </div>
            </a>
            <nav id="siteNav">
                <ul>
                    <li>
                        <a href="/aboutus" title="About Us" class="current">About Us<br /></a>
                    </li>
                    <li>
                        <a title="Breweries" class="last">Breweries<br /></a>
                        <ul>
                            <li><a href="/breweries" title="Sales Offices">Filter By Country</a></li>
                            <li><a href="/brewerytype" title="Agents">filter by type</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/beertalk" title="Beer Talk" class="current">Beer Talk<br /></a>
                    </li>
                </ul>
            </nav>

            <br>
        </header>



        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <footer id="pageFooter">

            <section id="quickLinks">
                <div class="container">
                    &copy; 2021 - BreweryArc - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </section>
            <section id="footerResources">
                @*<h1>That frosty mug intelligence!</h1>*@
                <ul id="quickNav">
                    <li><a href="/nobelLaureateFacts" title="Our home page">Tipsy Geniuses!</a></li>
                </ul>
            </section>
            <section id="companyInfo">
                <h1>Contact</h1>
                <p>888.777.666<br />555.444.333 <em>(24*7 support)</em></p>
            </section>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </div>

</body>
</html>
